:root {
    --altura-header: 80px;
    --padding-left-right: 2em;
    --ancho-max: 1200px;
}
body {
    width: auto;
    margin: 0%;
    background-image: url(../images/bd-campo-pokemon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav img {
    height: 55px;
}

nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
}

nav ol {
    list-style-type: none;
    padding-inline-start: 0%;
    width: 100%;
    position: absolute;
    top: var(--altura-header);
    display: flex;
    justify-content: center;
    height: calc(100vh - var(--altura-header));
    align-items: center;
    flex-direction: column;
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin-inline-start: -10px;
    gap: 3em;
    height: 0;
    overflow: hidden;

    transition: all .3s;
}

.icon-pokeball-pikachu{
    height: 70px;
}

nav ol li {
    margin: 10px;
}

nav ol li a {
    font-size: 1.2em;
}

nav ol li:hover {
    background-color: #f9ee60; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
    padding-top: 5px;
    padding-bottom: 5px;
}

nav ol li a:hover {
    color: black; 
    transition: color 0.1s; 
    padding: 10px;
}


a {
    text-decoration: none;
    font-size: 2em;
    color: #000850;

}

.menu-pokeball {
    display: none;
}

.menu-pokeball:checked + .ol-links {
    height: calc(100vh - var(--altura-header));
}
@media (min-width:768px){
    .label-pokeball{
        display: none;
    }
    nav ol {
        position: static;
        width: auto;
        flex-direction: row;
        gap: 1.2rem;
        height: auto; 
        overflow: visible; 
    }
    .ol-links {
        display: flex; 
    }
}

@media (max-width: 767px) {
    nav ol, .ol-links {
        background-color: #1C246D;
        color: #A78BFC;
    }
}

.pokemon-number {
    background-color: green;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
}

#keypad {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px; 
    padding: 20px;
    width: 300px;
    margin: auto;
}

#keypad button {
    font-size: 20px;
    background-color: #01DBFF;
    border: none;
    border-radius: 2px; 
    cursor: pointer;
}

#keypad button:active {
    background-color: #0051a4; 
  }

/*Versión 1*/
@media (max-width: 400px) {
    .controls_button-yellow{
        width: 200px;
        margin-top: 10px;
    }   
}

.controls{
    width: 80%;
    bottom: 50px;
    right: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-right: 30px
}

.controls_button-yellow{
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color:#f9ee60;
    font-family: "Share Tech Mono", monospace;
    font-size: 20px;
    text-align: center;
    border: none;
    outline: none;

}

.screen {
    height: 350px;
    padding: 10px 10px 0 10px;
    display: grid;
    grid-template-rows: 20px 1fr 60px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
    border-radius: 30px;
    background-color: #f2f4e7;
    box-shadow: 15px 10px 0 #481557
}

.screen-lights {
    display: flex;
    justify-content: center;
}

.screen-light{
    width: 12px;
    height: 12px;
    border: 2px solid #481557;
    border-radius: 50%;
    margin: 0 3px;
    background-color: #fe1a55
}

.screen_pokemon {
    display: grid;
    place-items: center;
    border-radius: 10px;
    background: #01dbff;
    box-shadow: inset 0 10px 0 rgba(0,0,0,0.2)
}

.screen-image {
    width: 58%;
    filter: drop-shadow(3px 3px 2px rgba(27,143,163,0.5))
}


.screen-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.screen-message {
    color: black;
    position: absolute;
    bottom: 130%;
    left: 30%;
    width: 80px;
    padding: 2px 5px;
    background-color: #fff9f1;
    border-radius: 3px;
    border: 1px solid #481557;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
    will-change: transform opacity
}

.screen-button{
    position: relative;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border: 4px solid #481557;
    border-radius: 50%;
    background-color: #fe1a55;
    margin-left: 20px;
    color: #fff9f1;
    cursor: pointer;
    transition: 0.2s;
    will-change: transfor
}

.screen-button:hover{
    transform: scale(1.02);
    box-shadow: 3px 3px 0 rgba(0,0,0,0.2)
}

.screen-button:hover .screen-message {
    opacity: 1;
}

.screen-name{
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.screen-sound-outlet{
    width: 150px;
    height: 8px;
    border-radius: 20px;
    margin: 5px;
    background-color: #000850
}

.statsScreen {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
    padding: 0 20px;
    border-radius: 20px;
    box-shadow: inset 0 8px 0 rgba(0,0,0,0.4);
    background-color: #000850;
}

.stats-screen-item{
    width: 50%;
    margin: 5px 0;
    margin-left: 8px;
    color: #fff9f1
}

.pokedex{
    display: flex;
    justify-content: end;
    padding: 30px;
}
