:root {
    --altura-header: 80px;
    --padding-left-right: 2em;
    --ancho-max: 1200px;
}
body {
    width: auto;
    margin: 0%;
    background-image: url(../images/bd-campo-pokemon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav img {
    height: 55px;
}

nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
}

nav ol {
    list-style-type: none;
    padding-inline-start: 0%;
    width: 100%;
    position: absolute;
    top: var(--altura-header);
    display: flex;
    justify-content: center;
    height: calc(100vh - var(--altura-header));
    align-items: center;
    flex-direction: column;
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin-inline-start: -10px;
    gap: 3em;
    height: 0;
    overflow: hidden;

    transition: all .3s;
}

.icon-pokeball-pikachu{
    height: 70px;
}

nav ol li {
    margin: 10px;
}

nav ol li a {
    font-size: 1.2em;
}

nav ol li:hover {
    background-color: #A78BFC; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
    padding-top: 5px;
    padding-bottom: 5px;
}

nav ol li a:hover {
    color: black; 
    transition: color 0.1s; 
    padding: 10px;
}


a {
    text-decoration: none;
    font-size: 2em;
    color: #A78BFC;

}

.menu-pokeball {
    display: none;
}

.menu-pokeball:checked + .ol-links {
    height: calc(100vh - var(--altura-header));
}
@media (min-width:768px){
    .label-pokeball{
        display: none;
    }
    nav ol {
        position: static;
        width: auto;
        flex-direction: row;
        gap: 1.2rem;
        height: auto; 
        overflow: visible; 
    }
    .ol-links {
        display: flex; 
    }
}

@media (max-width: 767px) {
    nav ol, .ol-links {
        background-color: #1C246D;
        color: #A78BFC;
    }
}

.pokedex{
    background-color: #E92141;
}

.pokemon-number {
    background-color: green;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
}

#keypad {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px; 
    padding: 20px;
    width: 300px;
    margin: auto;
}

#keypad button {
    font-size: 20px;
    background-color: #01DBFF;
    border: none;
    border-radius: 2px; 
    cursor: pointer;
}

#keypad button:active {
    background-color: #0051a4; 
  }
