:root {
    --altura-header: 80px;
    --padding-left-right: 2em;
    --ancho-max: 1200px;
}
body {
    width: auto;
    margin: 0%;
}

nav img {
    height: 55px;
}

nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
}

nav ol {
    list-style-type: none;
    background-color: #88DAFF;
    padding-inline-start: 0%;
    width: 100%;
    position: absolute;
    top: var(--altura-header);
    display: flex;
    justify-content: center;
    height: calc(100vh - var(--altura-header));
    align-items: center;
    flex-direction: column;
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin-inline-start: -10px;
    gap: 3em;
    height: 0;
    overflow: hidden;
}
/*
nav ol li {
    margin: 14px;
}*/

a {
    text-decoration: none;
    font-size: 2em;
    color: black;

}

.menu-pokeball {
    display: none;
}

.video-bg {
    position: fixed;
    top: 40%;
    left: 50%;
    z-index: -1; /*Mantener al fondo*/
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 56.25vw;
    min-width: 177.77vh;
    min-height: 100ch;
    opacity: 0.9;
    object-fit: cover;
}

main img {
    width: 500px;
}

main h1 {
    text-align: center;
}

.hero {
    display: flex;
    text-align: center; /**/
    align-items: center; /*Centrar en horizontal*/
    justify-content: center; /*Centrar en vertical*/
    gap: 40px; /*Espacio entre elementos*/
}

.hero h3,
.hero img {
    flex: 1; /* Permite que ambos elementos crezcan y ocupen espacio disponible */
    max-width: 100%; /* Asegura que no excedan el tamaño del contenedor */
}

/* Media query para pantallas de 768px o menos */
@media (max-width: 768px) {
    .hero {
        flex-direction: column; /* Alinea los elementos en columna en pantallas pequeñas */
    }
    .hero h3,
    .hero img {
        max-width: 90%; /* Opcional: reduce un poco el ancho para márgenes internos */
        align-self: center; /* Asegura que los elementos estén centrados en el eje transversal */
    }
}
